{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Página inicial</title>
</head>
<body>
    <header>
        <h1>Opa, esse é meu <strong>primeiro</strong> projeto django!</h1>
    </header>
    <main>
        <section>
            <h2>Do que se trata?</h2>
            <p>Apenas um top melhores mangás já feitos (deverás culto)</p>
        </section>
        <section>
            <h3>Porque o css tá tão ruim?</h3>
            <p>Nem me pergunte amigo...</p>
        </section>
        <section>
            <a class="nave" href="{% url 'mangas' %}">Pagina de mangás</a>
        </section>
        <div>
            <img src="{% static 'images/img.jpeg' %}" alt="mangas fod">
        </div>
    </main>
    
</body>
</html>