<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangás</title>
</head>
<body>
    <header>
        <nav>
            <h1>Esta é a página de mangás</h1>
            <a href="{% url 'index' %}">Página inicial</a>
        </nav>
    </header>
    <main>
        <section>
            {% for %}
            {% endfor %}
        </section>
    </main>
</body>
</html>