{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Mangás</title>
</head>
<body>
    <header>
        <h1>Esta é a página de mangás</h1>
    </header>
    <main>
        <div>
            <ul>
                {% for man in mang %}
                    <li><a href="{% url 'manga' man.id %}">{{ man.nome }}</a></li>
                    <li><p>{{ man.autor }}</p></li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        <div>
            <p>Este é apenas o basico do django: trazer dados ao template de forma rápida.</p>
            <p>Cada nome leva a um link, que por sua vez carrega ainda mais dados do db.</p>
            <p>Agora, sempre que um novo dado for adicioado, será adicioado no template também!</p>
        </div>
        <div>
            <a href="{% url 'index' %}">Página inicial</a>
        </div>
    </main>
</body>
</html>